<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/inputModal.css">
    
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

    <title>Input Modal</title>
  </head>
  <body>
    
    <div class="container text-center my-3 border shadow">
      <h1 id="page-header">Request For A Logo Design</h1>
    </div>
    
    <div class="container alert alert-dismissible fade show d-none" role="alert" id="page-alert">
      <span id="server-message"></span>
      <span id="server-status"></span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="container-fluid my-1 p-3" >  <!-- Page Container -->
      
      <!-- Client Section -->
      <section id="client-section">
        <div class="card-group p-3 border shadow">
          <div class="card" id="display-text">
            <div class="card-header">
              <h5 class="card-title">Logo text</h5>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <p class="text-danger d-none" id="display-category-error"></p>
                  <p class="font-weight-bold m-0">Business Category:</p>             
                  <p class="m-0">{{ category_text }}</p>
                </li>
                <li class="list-group-item">
                  <p class="text-danger d-none" id="display-line-error"></p>
                  <p class="font-weight-bold m-0">Business Name:</p>             
                  <p class="m-0">{{ line_1 }}</p>
                </li>
                <li class="list-group-item">
                  <p class="font-weight-bold m-0">Tag Line:</p>             
                  <p class="m-0">{{ line_2 }}</p>
                </li>
                <li class="list-group-item">
                  <p class="font-weight-bold m-0">Type of Logo:</p>             
                  <p class="m-0">{{ type }}</p>
                </li>
                <li class="list-group-item">
                  <p class="text-danger d-none" id="display-email-error"></p>
                  <div class="form-group">
                    <label for="customer-email" class="font-weight-bold">Email address</label>
                    <input type="email" class="form-control d-none" id="customer-email" readonly>
                  </div>
                  <div class="btn-group" role="group" aria-label="Basic example">
                     <button type="button" class="btn btn-primary btn-sm rounded-0 d-none" id="auth-login">
                      Login with google
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm rounded-0 d-none" id="auth-logout">
                      Logout
                    </button> 
                  </div>
                </li>
              </ul>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-primary rounded-0" data-toggle="modal" data-target="#textModal">
                Edit logo text
              </button>
            </div>
          </div>
          
          <div class="card" id="display-fonts">
            <div class="card-header">
              <h5 class="card-title">Logo Fonts</h5>
            </div>
            <div class="card-body">  
              <span class="text-danger d-none" id="display-font-error"></span>          
              <display-item
                v-for="item in fonts"
                v-bind:key="item.id"
                v-bind:item="item"
              ></display-item>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-primary rounded-0" data-toggle="modal" data-target="#fontModal">
                Edit logo fonts
              </button>
            </div>
          </div>
          
          <div class="card" id="display-logos">
            <div class="card-header">
              <h5 class="card-title">Logo Types</h5>
            </div>
            <div class="card-body">
              <span class="text-danger d-none" id="display-logo-error"></span>
              <display-item
                v-for="item in logos"
                v-bind:key="item.id"
                v-bind:item="item"
              ></display-item>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-primary rounded-0" data-toggle="modal" data-target="#logoModal">
                Edit logo types
              </button>
            </div>
          </div>
        </div>
        
        <div class="d-flex p-2">
          <button type="button" class="btn btn-primary ml-auto rounded-0" id="submit-data">
            Submit data
          </button>
          <button type="button" class="btn btn-primary ml-1 rounded-0" data-toggle="modal" data-target="#credentialsModal">
            Get logo data
          </button> 
        </div>
      </section>
      <!-- End Of Client Section -->
      
      <!-- Logo Data Table -->
      <section id="admin-section" class="d-none">
        <div class="container-fluid p-3">
          <table class="cell-border hover stripe w-100 shadow border" id="logo-data-table">
          </table>
        </div>
        
        <div class="d-flex p-2">
          <button type="button" class="btn btn-primary ml-auto rounded-0" id="reload-data">
            Reload data
          </button>
          <button type="button" class="btn btn-primary ml-1 rounded-0" id="admin-logout">
            Logout
          </button> 
        </div>

      </section>
      
    </div>  <!-- End Of Page Container -->

    <!-- Text Modal -->
    <div class="modal fade mt-5" id="textModal" tabindex="-1" role="dialog" aria-labelledby="textModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content rounded-0">
          
          <div class="modal-header">
            <h5 class="modal-title" id="textModalLabel">Enter the text you would like in your logo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
         
          <div class="modal-body" id="text-data">
            <form>
              <div class="form-group">
                <label for="category-input">Business Category</label>
                <select 
                  class="custom-select" 
                  id="category-input" 
                  v-model.trim="category"
                 >
                  <option value="" selected>Open this select menu</option>
                </select>
              </div>
              <div class="form-group">
                <label for="line1-input">Business Name</label>
                <input type="text" class="form-control" id="line1-input" placeholder="Business Name" v-model.trim="line_1">
              </div>
              <div class="form-group">
                <label for="line1-input">Tag Line</label>
                <input type="text" class="form-control" id="line2-input" placeholder="Tag Line" v-model.trim="line_2">
                <small id="tagLineHelp" class="form-text text-muted">(Optional) Max 30 Characters</small>
              </div>
               <div class="form-group">
                <label for="line1-input">Type Of Logo Image</label>
                <input type="text" class="form-control" id="line2-input" placeholder="Type Of Logo" v-model.trim="type">
                <small id="logoImageHelp" class="form-text text-muted">(Optional) Ex. Car, Dog, Bakery, Salon</small>
              </div>
            </form>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-primary rounded-0" data-dismiss="modal">OK</button>
          </div>
          
        </div>
      </div>
    </div>
    
    <!-- Font Modal -->
    <div class="modal fade mt-5" id="fontModal" tabindex="-1" role="dialog" aria-labelledby="fontModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0">
          
          <div class="modal-header">
            <h5 class="modal-title" id="fontModalLabel">Choose up to 3 logo fonts.</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
         
          <div class="modal-body">
            <div id="font-items" class="card-deck">
              <modal-card
                v-for="item in fonts"
                v-bind:key="item.id"
                v-bind:item="item"
                v-bind:type="type"
              ></modal-card>
            </div>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-primary rounded-0" data-dismiss="modal">OK</button>
          </div>
          
        </div>
      </div>
    </div>
    
    <!-- Logo Modal -->
    <div class="modal fade mt-5" id="logoModal" tabindex="-1" role="dialog" aria-labelledby="logoModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0">
          
          <div class="modal-header">
            <h5 class="modal-title" id="logoModalLabel">Choose up to 3 logo styles.</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
         
          <div class="modal-body">
            <div id="logo-items" class="card-deck">
              <modal-card
                v-for="item in logos"
                v-bind:key="item.id"
                v-bind:item="item"
                v-bind:type="type"
              ></modal-card>
            </div>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-primary rounded-0" data-dismiss="modal">OK</button>
          </div>
          
        </div>
      </div>
    </div>
    
    
    <!-- Credentials Modal -->
    <div class="modal fade mt-5" id="credentialsModal" tabindex="-1" role="dialog" aria-labelledby="credentialsModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content rounded-0">
          
          <div class="modal-header">
            <h5 class="modal-title" id="credentialsModalLabel">Login to view page.</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
         
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="username-input">Username</label>
                <input type="text" class="form-control" id="username-input" placeholder="username">
              </div>
              <div class="form-group">
                <label for="password-input">Password</label>
                <input type="password" class="form-control" id="password-input" placeholder="password">
              </div>
            </form>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">
              Cancel
            </button>
            <button type="button" class="btn btn-primary rounded-0" data-dismiss="modal" id="get-data">
              Login
            </button>
          </div>
          
        </div>
      </div>
    </div>
    
    <!--modal card template -->
    <script type="text/x-template" id="modal-card-template">
      <div class="card text-center">
        <div class="card-header">
          <h5 class="card-title">{{item.name}}</h5>
        </div>
        <card-img 
          v-bind:src="'img/' + item.img_src.trim()"
          v-bind:alt="item.img_alt"
        ></card-img>
        <div class="card-body">        
          <p class="card-text">{{item.description}}</p>        
        </div>
        <div class="card-footer">
          <button
            v-if="selected"
            v-on:click="remove(item, type)"
            type="button"
            class="btn btn-success"
          >
            Selected
          </button>
          <button
            v-else
            v-on:click="select(item, type)"
            type="button"
            class="btn btn-secondary"
          >
            Select
          </button>
        </div>
      </div>
    </script>
    
    <!--card img template -->
    <script type="text/x-template" id="card-img-template">
      <img src="" class="card-img-top shadow" alt="">
    </script>
    
    <!--display item template -->
    <script type="text/x-template" id="display-item-template">
      <div class="row border-bottom">
        <div class="col-3 p-1">
          <card-img 
            v-bind:src="'img/' + item.img_src.trim()"
            v-bind:alt="item.img_alt"
          ></card-img>
        </div>
        <div class="col">
          <p class="">
            Name: {{ item.name }}<br />
            {{ item.description }}
          </p>
        </div>
      </div>
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
		  src="https://code.jquery.com/jquery-3.4.1.min.js"
		  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		  crossorigin="anonymous">
	  </script>
		
    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
      crossorigin="anonymous">
    </script>
    <script 
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
      crossorigin="anonymous">
    </script>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script> <!-- Dev -->
    <script src="js/inputModal.js" type="text/javascript"></script>
    <!--font awsome //// should delete -->
    <!--script src="https://kit.fontawesome.com/d9674c66e6.js"></script-->
    <!-- end of font awsome -->
    <!-- Auth0 -->
    <script src="https://cdn.auth0.com/js/auth0/9.10/auth0.min.js"></script>
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  </body>
</html>

