<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/inputModal.css">
    

    <title>Input Modal</title>
  </head>
  <body>
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#textModal">
      Launch Text modal
    </button>
    
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fontModal">
      Launch Font modal
    </button>
    
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#logoModal">
      Launch Logo modal
    </button>  
    
    <button type="button" class="btn btn-primary" id="submit">
      Submit Data
    </button>        

    <!-- Text Modal -->
    <div class="modal fade mt-5" id="textModal" tabindex="-1" role="dialog" aria-labelledby="textModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          
          <div class="modal-header">
            <h5 class="modal-title" id="textModalLabel">Enter Text</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</s
              pan>
            </button>
          </div>
         
          <div class="modal-body" id="text-data">
            <form>
              <div class="form-group">
                <label for="category-input">Logo Category</label>
                <select class="custom-select" id="category-input" v-model.trim="category">
                  <option value="" selected>Open this select menu</option>
                </select>
              </div>
              <div class="form-group">
                <label for="line1-input">Logo Line 1</label>
                <input type="text" class="form-control" id="line1-input" placeholder="Logo Line 1" v-model.trim="line_1">
              </div>
              <div class="form-group">
                <label for="line1-input">Logo Line 2</label>
                <input type="text" class="form-control" id="line2-input" placeholder="Logo Line 2" v-model.trim="line_2">
                <small id="emailHelp" class="form-text text-muted">(Optional) Max 30 Characters</small>
              </div>
               <div class="form-group">
                <label for="line1-input">Type Of Logo</label>
                <input type="text" class="form-control" id="line2-input" placeholder="Type Of Logo" v-model.trim="type">
                <small id="emailHelp" class="form-text text-muted">(Optional) Ex. Car, Dog, Bakery, Salon</small>
              </div>
            </form>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
          
        </div>
      </div>
    </div>
    
    <!-- Font Modal -->
    <div class="modal fade mt-5" id="fontModal" tabindex="-1" role="dialog" aria-labelledby="fontModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          
          <div class="modal-header">
            <h5 class="modal-title" id="fontModalLabel">Choose Font</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</s
              pan>
            </button>
          </div>
         
          <div class="modal-body">
            <div id="font-items" class="card-deck">
              <modal-card
                v-for="item in fonts"
                v-bind:key="item.id"
                v-bind:item="item"
                v-bind:type="type"
              ></modal-card>
              </div>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
          
        </div>
      </div>
    </div>
    
     <!-- Logo Modal -->
    <div class="modal fade mt-5" id="logoModal" tabindex="-1" role="dialog" aria-labelledby="logoModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          
          <div class="modal-header">
            <h5 class="modal-title" id="logoModalLabel">Choose Logo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</s
              pan>
            </button>
          </div>
         
          <div class="modal-body">
            <div id="logo-items" class="card-deck">
              <modal-card
                v-for="item in logos"
                v-bind:key="item.id"
                v-bind:item="item"
                v-bind:type="type"
              ></modal-card>
              </div>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
          
        </div>
      </div>
    </div>
    
    <!--cards template -->
    <script type="text/x-template" id="modal-card-template">
      <div class="card text-center">
        <div class="card-header">
          <h5 class="card-title">{{item.name}}</h5>
        </div>
        <card-img 
          v-bind:src="item.img_src"
          v-bind:alt="item.img_alt"
        ></card-img>
        <div class="card-body">        
          <p class="card-text">{{item.description}}</p>        
        </div>
        <div class="card-footer">
          <button
            v-if="selected"
            v-on:click="remove(item, type)"
            type="button"
            class="btn btn-success"
          >
            Selected
          </button>
          <button
            v-else
            v-on:click="select(item, type)"
            type="button"
            class="btn btn-secondary"
          >
            Select
          </button>
        </div>
      </div>
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
		  src="https://code.jquery.com/jquery-3.4.1.min.js"
		  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		  crossorigin="anonymous">
	  </script>
		
    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
      crossorigin="anonymous">
    </script>
    <script 
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
      crossorigin="anonymous">
    </script>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script> <!-- Dev -->
    <script src="js/inputModal.js" type="text/javascript"></script>
    <!--font awsome //// should delete -->
    <script src="https://kit.fontawesome.com/d9674c66e6.js"></script>
    <!-- end of font awsome -->
  </body>
</html>
