<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
      crossorigin="anonymous"
    >
    <link rel="stylesheet" href="css/inputModal.css">
    
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

    <title>Input Modal</title>
  </head>
  <body>
    
    <!-- Page Header -->
    <div id="page-header-container" class="container text-center my-3 border shadow d-none">
      <h1 id="page-header" class="font-weight-bold">Request For A Logo Design</h1>
    </div>
    
    <!-- Alert Box -->
    <div class="container alert alert-dismissible fade show d-none mt-2" role="alert" id="page-alert">
      <span id="server-message"></span>
      <span id="server-status"></span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="container-fluid my-1 p-3">  <!-- Page Container -->
      
      <!-- Page Start Section -->
      <section id="page-start-section" class="d-flex row p-5">
        <div class="col-4 mt-5 mx-auto rounded-0 shadow btn-group-vertical p-5">
          <h3 class="text-center w-100 border-bottom font-weight-bold">
            PICK A CHOICE
          </h3>

          <button type="button" class="btn btn-success rounded-0 my-2" id="auth-login">
            Login With Google
          </button>
          
          <button type="button" class="btn btn-secondary rounded-0 my-2 d-none" id="auth-logout">
            Not You?
          </button>

          <button type="button" class="btn btn-success rounded-0 my-2 d-none" id="request-logo-btn">
            Request A Logo
          </button>
          <button type="button" class="btn btn-success rounded-0 my-2 d-none" id="request-poster-btn">
            Request A Poster
          </button>
          
          <hr class="border w-100">
          
          <button type="button" class="btn btn-dark rounded-0 my-2" id="admin-login-btn" data-toggle="modal" data-target="#credentialsModal">
            Admin Login
          </button>
        </div>
      </section>
      <!-- End Of Page Start Section -->
      
      <!-- Client Poster Section -->
      <section id="client-poster-section" class="d-none">
        <div class="card-group p-3 border shadow">
          <div class="card col p-0" id="poster-data-display">
            <div class="card-header">
              <h5 class="card-title font-weight-bold">Poster Content Description</h5>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <p class="text-danger d-none" id="poster-category-error"></p>
                  <p class="font-weight-bold m-0">Poster Category:</p>
                  <p class="m-0">{{ category_text }}</p>
                </li>
                <li class="list-group-item">
                  <p class="font-weight-bold m-0">Poster Header:</p>
                  <p class="m-0">{{ header }}</p>
                </li>
                <li class="list-group-item">
                  <p class="font-weight-bold m-0">Poster Title:</p>
                  <p class="m-0">{{ title }}</p>
                </li>
                <li class="list-group-item">
                  <p class="font-weight-bold m-0">Poster Main:</p>
                  <p class="m-0">{{ main }}</p>
                </li>
                <li class="list-group-item">
                  <p class="font-weight-bold m-0">Poster Footer:</p>
                  <p class="m-0">{{ footer }}</p>
                </li>
                <li class="list-group-item">
                  <p class="font-weight-bold m-0">Poster Background:</p>
                  <p class="m-0">{{ background }}</p>
                </li>
                <li class="list-group-item">
                  <p class="text-danger d-none" id="poster-email-error"></p>
                  <div class="form-group">
                    <label for="poster-email" class="font-weight-bold">Email address</label>
                    <input type="email" class="form-control d-none" id="poster-email" readonly>
                  </div>
                </li>
              </ul>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-primary rounded-0" data-toggle="modal" data-target="#posterModal">
                Edit poster content
              </button>
            </div>
          </div>
          
          <div class="card" id="poster-image-display">
            <div class="card-header">
              <h5 class="card-title font-weight-bold">Poster Images</h5>
            </div>
            <div class="card-body">
              <p class="text-danger d-none" id="poster-images-error"></p>
              <div class="card-columns">                
                <display-pimage
                  v-for="(image, index) in images"
                  v-bind:key="index"
                  v-bind:image="image"
                ></display-pimage>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex p-2">
          <button type="button" class="btn btn-success ml-auto rounded-0" id="submit-poster-data">
            Submit data
          </button>
          <button type="button" class="btn btn-secondary ml-1 rounded-0" id="poster-back-btn">
            Back
          </button>
        </div>
      </section>
      <!-- End Of Client Poster Section -->
      
      <!-- Client Logo Section -->
      <section id="client-logo-section" class="d-none">
        <div class="card-group p-3 border shadow">
          <div class="card" id="display-text">
            <div class="card-header">
              <h5 class="card-title font-weight-bold">Logo text</h5>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <p class="text-danger d-none" id="display-category-error"></p>
                  <p class="font-weight-bold m-0">Business Category:</p>             
                  <p class="m-0">{{ category_text }}</p>
                </li>
                <li class="list-group-item">
                  <p class="text-danger d-none" id="display-line-error"></p>
                  <p class="font-weight-bold m-0">Business Name:</p>             
                  <p class="m-0">{{ line_1 }}</p>
                </li>
                <li class="list-group-item">
                  <p class="font-weight-bold m-0">Tag Line:</p>             
                  <p class="m-0">{{ line_2 }}</p>
                </li>
                <li class="list-group-item">
                  <p class="font-weight-bold m-0">Type of Logo:</p>             
                  <p class="m-0">{{ type }}</p>
                </li>
                <li class="list-group-item">
                  <p class="text-danger d-none" id="display-email-error"></p>
                  <div class="form-group">
                    <label for="customer-email" class="font-weight-bold">Email address</label>
                    <input type="email" class="form-control d-none" id="customer-email" readonly>
                  </div>
                </li>
              </ul>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-primary rounded-0" data-toggle="modal" data-target="#textModal">
                Edit logo text
              </button>
            </div>
          </div>
          
          <div class="card" id="display-fonts">
            <div class="card-header">
              <h5 class="card-title font-weight-bold">Logo Fonts</h5>
            </div>
            <div class="card-body">  
              <span class="text-danger d-none" id="display-font-error"></span>          
              <display-litem
                v-for="item in fonts"
                v-bind:key="item.id"
                v-bind:item="item"
              ></display-litem>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-primary rounded-0" data-toggle="modal" data-target="#fontModal">
                Edit logo fonts
              </button>
            </div>
          </div>
          
          <div class="card" id="display-logos">
            <div class="card-header">
              <h5 class="card-title font-weight-bold">Logo Types</h5>
            </div>
            <div class="card-body">
              <span class="text-danger d-none" id="display-logo-error"></span>
              <display-litem
                v-for="item in logos"
                v-bind:key="item.id"
                v-bind:item="item"
              ></display-litem>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-primary rounded-0" data-toggle="modal" data-target="#logoModal">
                Edit logo types
              </button>
            </div>
          </div>
        </div>
        
        <div class="d-flex p-2">
          <button type="button" class="btn btn-success ml-auto rounded-0" id="submit-logo-data">
            Submit data
          </button>
          <button type="button" class="btn btn-secondary ml-1 rounded-0" id="logo-back-btn">
            Back
          </button>
        </div>
      </section>
      <!-- End Of Client Section -->
      
      <!-- Admin Section -->
      <section id="admin-section" class="d-none">
        <div class="row">
          <div class="col-3 px-3">
            <div class="card rounded-0 shadow">
              <div class="card-header bg-dark text-white text-left">
                Admin Menu
              </div>
              <ul class="list-group list-group-flush">
                <button class="list-group-item text-left" id="reload-data">Logo Data</button>
                <button class="list-group-item text-left" id="poster-data">Poster Data</button>
                <button class="list-group-item text-left" id="admin-logout">Logout</button>
              </ul>
            </div>
          </div>
          <!-- Logo Data Table -->
          <div class="col p-3 shadow border">
            <table class="cell-border hover stripe w-100" id="logo-data-table">
            </table>
          </div>
        </div>
      </section>
      <!-- End Of Admin Section -->
      
    </div>  <!-- End Of Page Container -->

    <!-- Text Modal -->
    <div class="modal fade mt-5" id="textModal" tabindex="-1" role="dialog" aria-labelledby="textModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content rounded-0">
          
          <div class="modal-header">
            <h5 class="modal-title" id="textModalLabel">Enter the text you would like in your logo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
         
          <div class="modal-body" id="text-data">
            <form class="p-2">
              <div class="form-group">
                <label for="logo-category-input">Business Category</label>
                <select 
                  class="custom-select" 
                  id="logo-category-input" 
                  v-model.trim="category"
                 ><option value="" selected>Open this select menu</option>
                </select>
              </div>
              <div class="form-group">
                <label for="logo-line1-input">Business Name</label>
                <input type="text" class="form-control" id="logo-line1-input" placeholder="Business Name" v-model.trim="line_1">
              </div>
              <div class="form-group">
                <label for="logo-line2-input">Tag Line</label>
                <input type="text" class="form-control" id="logo-line2-input" placeholder="Tag Line" v-model.trim="line_2">
                <small class="form-text text-muted">(Optional) Max 30 Characters</small>
              </div>
               <div class="form-group">
                <label for="logo-type-input">Type Of Logo Image</label>
                <input type="text" class="form-control" id="logo-type-input" placeholder="Type Of Logo" v-model.trim="type">
                <small class="form-text text-muted">(Optional) Ex. Car, Dog, Bakery, Salon</small>
              </div>
            </form>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-primary rounded-0 d-none" data-dismiss="modal" id="logo-text-ok">OK</button>
            <button type="button" class="btn btn-success rounded-0" data-dismiss="modal" id="logo-next-font">Choose Logo Fonts</button>
          </div>
          
        </div>
      </div>
    </div>
    
    <!-- Font Modal -->
    <div class="modal fade mt-5" id="fontModal" tabindex="-1" role="dialog" aria-labelledby="fontModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0">
          
          <div class="modal-header">
            <h5 class="modal-title" id="fontModalLabel">Choose up to 3 logo fonts.</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
         
          <div class="modal-body">
            <div id="font-items" class="card-deck">
              <modal-card
                v-for="item in fonts"
                v-bind:key="item.id"
                v-bind:item="item"
                v-bind:type="type"
              ></modal-card>
            </div>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-primary rounded-0 d-none" data-dismiss="modal" id="logo-font-ok">OK</button>
            <button type="button" class="btn btn-success rounded-0" data-dismiss="modal" id="logo-next-type">Choose Logo Types</button>
          </div>
          
        </div>
      </div>
    </div>
    
    <!-- Logo Modal -->
    <div class="modal fade mt-5" id="logoModal" tabindex="-1" role="dialog" aria-labelledby="logoModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0">
          
          <div class="modal-header">
            <h5 class="modal-title" id="logoModalLabel">Choose up to 3 logo styles.</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
         
          <div class="modal-body">
            <div id="logo-items" class="card-deck">
              <modal-card
                v-for="item in logos"
                v-bind:key="item.id"
                v-bind:item="item"
                v-bind:type="type"
              ></modal-card>
            </div>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-primary rounded-0 d-none" data-dismiss="modal" id="logo-type-ok">OK</button>
            <button type="button" class="btn btn-success rounded-0" data-dismiss="modal" id="logo-finish">Finish</button>
          </div>
          
        </div>
      </div>
    </div>
    
    
    <!-- Credentials Modal -->
    <div class="modal fade mt-5" id="credentialsModal" tabindex="-1" role="dialog" aria-labelledby="credentialsModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content rounded-0">
          
          <div class="modal-header">
            <h5 class="modal-title" id="credentialsModalLabel">Login to view page.</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
         
          <div class="modal-body">
            <form class="p-2" id="cred-form">
              <div class="form-group">
                <label for="username-input">Username</label>
                <input type="text" class="form-control" id="username-input" placeholder="username">
              </div>
              <div class="form-group">
                <label for="password-input">Password</label>
                <input type="password" class="form-control" id="password-input" placeholder="password">
              </div>
            </form>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">
              Cancel
            </button>
            <button type="button" class="btn btn-success rounded-0" data-dismiss="modal" id="get-data">
              Login
            </button>
          </div>
          
        </div>
      </div>
    </div>
    
    <!-- Poster Content Modal -->
    <div class="modal fade mt-5" id="posterModal" tabindex="-1" role="dialog" aria-labelledby="posterModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content rounded-0">
          
          <div class="modal-header">
            <h5 class="modal-title" id="posterModalLabel">Enter content would like in your poster</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
         
          <div class="modal-body" id="poster-data-capture">
            <form class="p-2">
              <div class="form-group">
                <label for="poster-category-input">
                  Poster Category 
                  <small class="text-muted">*This field should be filled.</small>
                </label>
                <select
                  class="custom-select"
                  id="poster-category-input"
                  v-model.trim="category"
                 ><option value="" selected>Open this select menu</option>
                </select>
              </div>
              
              <p>
                <small class="text-muted">Give a description of the content in the poster.</small>
                <small class="text-muted">All fields are </small>
                <strong class="text-normal">optional</strong>
                <small class="text-muted">.</small>
              </p>
              <hr class="w-100">
              
              <div class="form-group">
                <label for="poster-header-input">Poster Header Area</label>
                <textarea 
                  class="form-control" 
                  id="poster-header-input" 
                  rows="1"
                  placeholder="Header Area"
                  v-model.trim="header"
                ></textarea>
              </div>
              <div class="form-group">
                <label for="poster-title-input">Poster Title Area</label>
                <textarea 
                  class="form-control" 
                  id="poster-title-input" 
                  rows="1"
                  placeholder="Title Area"
                  v-model.trim="title"
                ></textarea>
              </div>
               <div class="form-group">
                <label for="poster-title-input">Poster Main Area</label>
                <textarea 
                  class="form-control" 
                  id="poster-main-input" 
                  rows="1"
                  placeholder="Main Area"
                  v-model.trim="main"
                ></textarea>
              </div>
              <div class="form-group">
                <label for="poster-footer-input">Poster Footer Area</label>
                <textarea 
                  class="form-control" 
                  id="poster-footer-input" 
                  rows="1"
                  placeholder="Footer Area"
                  v-model.trim="footer"
                >
                </textarea>
              </div>
              <div class="form-group">
                <label for="poster-background-input">Poster Background</label>
                <textarea 
                  class="form-control" 
                  id="poster-background-input" 
                  rows="1"
                  placeholder="Background"
                  v-model.trim="background"
                ></textarea>
              </div>
              
              <hr class="w-100">
              <p>
                <small class="text-muted">Upload images to be included in the poster.</small>
                <small class="text-muted">
                  To select multiple files, 
                  put them in one folder and select one by one (Ctrl + right click) 
                  or select all (Ctrl + A)
                </small>
              </p>
              
              <div class="custom-file">
                <input type="file" accept="image/*" class="custom-file-input" id="poster-images-input" multiple>
                <label class="custom-file-label" for="poster-images-input" id="poster-images-label">Choose Images</label>
              </div>
            </form>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-primary rounded-0" data-dismiss="modal">OK</button>
          </div>
          
        </div>
      </div>
    </div>
    
    <!--modal card template -->
    <script type="text/x-template" id="modal-card-template">
      <div class="card text-center">
        <div class="card-header">
          <h5 class="card-title">{{item.name}}</h5>
        </div>
        <card-img 
          v-bind:src="'img/' + item.img_src.trim()"
          v-bind:alt="item.img_alt"
        ></card-img>
        <div class="card-body">        
          <p class="card-text">{{item.description}}</p>        
        </div>
        <div class="card-footer">
          <button
            v-if="selected"
            v-on:click="remove(item, type)"
            type="button"
            class="btn btn-success"
          >
            Selected
          </button>
          <button
            v-else
            v-on:click="select(item, type)"
            type="button"
            class="btn btn-secondary"
          >
            Select
          </button>
        </div>
      </div>
    </script>
    
    <!--card img template -->
    <script type="text/x-template" id="card-img-template">
      <img src="" class="card-img-top shadow" alt="">
    </script>
    
    <!--display item template -->
    <script type="text/x-template" id="display-litem-template">
      <div class="row border-bottom">
        <div class="col-3 p-1">
          <card-img 
            v-bind:src="'img/' + item.img_src.trim()"
            v-bind:alt="item.img_alt"
          ></card-img>
        </div>
        <div class="col">
          <p class="">
            Name: {{ item.name }}<br />
            {{ item.description }}
          </p>
        </div>
      </div>
    </script>
    
     <!--display poster image template -->
    <script type="text/x-template" id="display-pimage-template">
      <div class="card">
        <card-img 
          v-bind:src="image"
          v-bind:alt="key"
        ></card-img>
      </div>
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
		  src="https://code.jquery.com/jquery-3.4.1.min.js"
		  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		  crossorigin="anonymous">
	  </script>
		
    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
      crossorigin="anonymous">
    </script>
    <script 
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
      crossorigin="anonymous">
    </script>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script> <!-- Dev -->
    <!--font awsome //// should delete -->
    <!--script src="https://kit.fontawesome.com/d9674c66e6.js"></script-->
    <!-- end of font awsome -->
    <!-- Auth0 -->
    <script src="https://cdn.auth0.com/js/auth0/9.10/auth0.min.js"></script>
    <!-- custom .js -->
    <script src="js/vue.js" type="module"></script>
    <script src="js/auth.js" type="module"></script>    
    <script src="js/js_triggers.js" type="module"></script>
    <script src="js/logo_request.js" type="module"></script>
    <script src="js/poster_request.js" type="module"></script>
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  </body>
</html>

